 .page-title {
     background: #000;
     color: #fff;
     padding: 80px 0;
     text-align: center;
 }

 .profile-img {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     object-fit: cover;
     border: 4px solid #000;
 }

 .page-title {
     background: #000;
     color: #fff;
     padding: 80px 0;
     text-align: center;
 }

 h2.section-title {
     margin-bottom: 25px;
     border-left: 5px solid black;
     padding-left: 10px;
     font-weight: 700;
 }

 .page-title {
     background: #000;
     color: #fff;
     padding: 80px 0;
     text-align: center;
 }

 .service-card:hover {
     transform: translateY(-5px);
     transition: .3s;
 }

 .client-card {
     transition: all 0.3s ease;
     border: none;
     background: #fff;
     border-radius: 15px;
     overflow: hidden;
 }

 .client-card:hover {
     transform: translateY(-10px);
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
 }

 .client-icon-circle {
     width: 70px;
     height: 70px;
     background: #e9f5ee;
     /* হালকা সবুজ */
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto 15px;
     color: #198754;
     /* আপনার নেভিবার কালার */
 }

 .badge-custom {
     background-color: #198754;
     color: white;
     padding: 6px 16px;
     border-radius: 50px;
     font-size: 0.75rem;
     font-weight: 500;
 }

 /* স্কিল সেকশন ডিজাইন */
 .skill-label {
     display: flex;
     align-items: center;
     margin-bottom: 8px;
     font-weight: 600;
 }

 .skill-label i {
     margin-right: 10px;
     font-size: 1.2rem;
 }

 .progress {
     border-radius: 10px;
     background-color: #f0f0f0;
 }

 .progress-bar {
     border-radius: 10px;
     font-weight: bold;
 }